*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}
.row{
  content: "";
  display: table;
  clear:both;
}
#colore1{
  width: 100vw;
  height: 15vh;
  background-color: #00BFA5;;
}
#colore2{
  height: 100vh;
  width: 100vw;
  background-color: #e7e8e1;
}
#spazio{
  height: 5vh;
  width: 70vw;
  margin: 0 auto;
}
#wrapper{
  display: flex;
  height: 90vh;
  width: 70vw;
  margin: 0 auto;
  border: 5px black solid;
  z-index: 99;
}
#column-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px black solid;
  height: 100%;
  width: 40%;
}
#profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e8e1;
  border-bottom: 2px gray solid;
  width: 100%;
  height: 92px;
}
#scroll{
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}
.img{
  padding: 6px;
}
.icone{
  padding: 6px;
}
#notifiche{
  background-color: #60c7f0;
  width: 100%;
  height: 10%;
  border-bottom: 2px gray solid;
  position: relative;
}
#cerchio{
  border-radius: 100%;
  background-color: white;
  width: 14%;
  height: 69%;
  position: absolute;
  top: 10%;
  left: 1%;
}
#notifiche > #cerchio > i{
  color: #60c7f0;
  font-size: 189%;
  position: absolute;
  top: 24%;
  left: 8%;
}
#ricevi_mess {
  padding-left: 70px;
  padding-top: 10px;
  height: 100%;
  line-height: 22px;
}
#ricevi_mess > p{
  font-size: 15px;
}
#ricerca{
  border-bottom: 2px gray solid;
  padding-top: 12px;
  padding-bottom: 6px;
}
#barra{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#ricerca > #barra > i{
  position:absolute;
}
#search{
  width: 90%;
  background: white no-repeat 10px 8px;
}
.chat{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #e7e8e1;
  border-bottom: 2px gray solid;
  width: 100%;
  height: 15%;
  position: relative;
}
.chat:hover{
  background-color: yellow;
}
.chat > .nome{
  flex-basis: 100%;
  text-align: left;
}
#profile > div > i{
  font-size: 150%;
  padding-left: 12px;
}
#column-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px black solid;
  height: 100%;
  width: 80%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #e7e8e1;
  border-bottom: 2px gray solid;
  width: 100%;
  height: 85px;
}
.name{
  padding-top: 6px;
  padding-right: 75%;
}
.icone1{
  display: flex;
  flex-basis: 100%;
  padding-top: 3%;
}
#column-right > header > .icone1 > i{
  font-size: 20px;
  display: inline-block;
  padding-right: 13%;
}
#main{
  width: 100%;
  height: 90%;
  background-image: url(img/sfondino.jpg);
  overflow-y: scroll;
}
.destra{
  float: right;
  background-color: green;
  text-align: center;
  height: 60px;
  width: 120px;
}
.sinistra{
  float: left;
  background-color: white;
  text-align: center;
  height: 60px;
  width: 120px;
}
footer{
  background-color: white;
  border-bottom: 2px gray solid;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#icona_prima{
  flex-basis: 10%;
  padding-left: 6px;
}
#icona_prima > i{
  font-size: 25px;
  padding-left: 24px;
}
#barra2{
  flex-basis: 80%;
}
#barra2 > input{
  width: 100%;
}
#mic{
  flex-basis: 10%;
  padding-left: 48px;
}
#mic > i{
  font-size: 25px;
}
